shim-version: v0.1.9@sha256:410510c9e8e4c7489dd201fede302dee8455075ca28f4f0abbf84bded943b8f1
cvm-version: 0.4.1
ovmf-version: 0.0.2
cpus: 8
memory: 102400
vllm: false

containers:
  - name: "nomic-embed-text-v1.5"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "vllm/vllm-openai:v0.11.0",
      "--model", "nomic-ai/nomic-embed-text-v1.5",
      "--served-model-name", "nomic-embed-text",
      "--trust-remote-code",
      "--port", "8001",
      "--max-model-len", "8192",
      "--hf-overrides", '''{"max_position_embeddings":8192,"rope_theta":1000,"rope_scaling":{"type":"dynamic","factor":4.0}}'''
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: false
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/embeddings
    - /metrics
