shim-version: v0.2.15@sha256:5ca748b384b78b7e686b57ca66d9b3c552038ebab2ce60305004f76e573a8458
cvm-version: 0.5.8
cpus: 16
memory: 65536
gpus: full

containers:
  - name: "nomic-embed-text-v1.5"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "vllm/vllm-openai:v0.11.0@sha256:014a95f21c9edf6abe0aea6b07353f96baa4ec291c427bb1176dc7c93a85845c",
      "--model", "nomic-ai/nomic-embed-text-v1.5",
      "--served-model-name", "nomic-embed-text",
      "--trust-remote-code",
      "--port", "8001",
      "--max-model-len", "8192",
      "--hf-overrides", '''{"max_position_embeddings":8192,"rope_theta":1000,"rope_scaling":{"type":"dynamic","factor":4.0}}'''
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: true
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/embeddings
    - /metrics
    - /health
