shim-version: v0.3.18@sha256:7d9f98be78c91ede89f43c948a12d084fae34312effe9395ca7ed572991cb561
cvm-version: 0.6.6
cpus: 16
memory: 65536

containers:
  - name: "nomic-embed-text-v1.5"
    image: "ghcr.io/huggingface/text-embeddings-inference@sha256:346a39baecdd03c40e77184c66a4a9931ec2e25b8e57ff3766b79affdbd38673"
    runtime: nvidia
    gpus: all
    command: [
      "--model-id", "nomic-ai/nomic-embed-text-v1.5",
      "--revision", "e5cf08aadaa33385f5990def41f7a23405aec398",
      "--served-model-name", "nomic-embed-text",
      "--port", "8001",
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  authenticated: true
  paths:
    - /v1/embeddings
    - /metrics
    - /health
