shim-version: v0.3.14@sha256:154c3e15f4d4856fd4b72e83f84da751abd34c76732bb6548bc89d5fa56c24ac
cvm-version: 0.5.23
cpus: 16
memory: 65536
gpus: full

containers:
  - name: "nomic-embed-text-v1.5"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "ghcr.io/huggingface/text-embeddings-inference@sha256:346a39baecdd03c40e77184c66a4a9931ec2e25b8e57ff3766b79affdbd38673",
      "--model-id", "nomic-ai/nomic-embed-text-v1.5",
      "--revision", "e5cf08aadaa33385f5990def41f7a23405aec398",
      "--served-model-name", "nomic-embed-text",
      "--port", "8001",
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  authenticated: true
  paths:
    - /v1/embeddings
    - /metrics
    - /health
