shim-version: v0.4.0@sha256:86e5fe4bcbf673847322c7416d49580ba6e8b41e30166fe9b8a8512b4a90c7ee
cvm-version: 0.6.7
cpus: 16
memory: 65536

containers:
  - name: "nomic-embed-text-v1.5"
    image: "ghcr.io/huggingface/text-embeddings-inference:100-1.9@sha256:16be3893ada5d7decaa60bb08b5cd021504b783bfd87ab1473ebacae7026add3"
    runtime: nvidia
    gpus: all
    command: [
      "--model-id", "nomic-ai/nomic-embed-text-v1.5",
      "--revision", "e5cf08aadaa33385f5990def41f7a23405aec398",
      "--served-model-name", "nomic-embed-text",
      "--port", "8001",
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  authenticated: true
  paths:
    - /v1/embeddings
    - /metrics
    - /health
