shim-version: v0.3.17@sha256:6dff221ec3c4de5c4f44472bc21b47574b7d118902aaa0a55fd367eeaa1f33c5
cvm-version: 0.6.6
cpus: 16
memory: 65536

containers:
  - name: "nomic-embed-text-v1.5"
    image: "ghcr.io/huggingface/text-embeddings-inference@sha256:346a39baecdd03c40e77184c66a4a9931ec2e25b8e57ff3766b79affdbd38673"
    runtime: nvidia
    gpus: all
    command: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--model-id", "nomic-ai/nomic-embed-text-v1.5",
      "--revision", "e5cf08aadaa33385f5990def41f7a23405aec398",
      "--served-model-name", "nomic-embed-text",
      "--port", "8001",
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  authenticated: true
  paths:
    - /v1/embeddings
    - /metrics
    - /health
