shim-version: v0.3.10@sha256:825cfafbc6dde8967ac60e44264f4686fcf2ed33fae112ab4b1c69c6673cdc8e
cvm-version: 0.5.23
cpus: 64
memory: 131072
gpus: full

containers:
  - name: "nomic-embed-text-v1.5"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "ghcr.io/huggingface/text-embeddings-inference@sha256:346a39baecdd03c40e77184c66a4a9931ec2e25b8e57ff3766b79affdbd38673",
      "--model-id", "nomic-ai/nomic-embed-text-v1.5",
      "--revision", "e5cf08aadaa33385f5990def41f7a23405aec398",
      "--served-model-name", "nomic-embed-text",
      "--max-client-batch-size", "64",
      "--port", "8001",
      "--auto-truncate"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  authenticated: true
  paths:
    - /v1/embeddings
    - /metrics
    - /health
