shim-version: v0.2.10@sha256:f9040a48106ab06c290fd9b225d4dd53a2daad715c9107594d4310b21592039f
cvm-version: 0.5.7
cpus: 8
memory: 102400
gpus: full
vllm: false

containers:
  - name: "nomic-embed-text-v1.5"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "vllm/vllm-openai:v0.11.0@sha256:014a95f21c9edf6abe0aea6b07353f96baa4ec291c427bb1176dc7c93a85845c",
      "--model", "nomic-ai/nomic-embed-text-v1.5",
      "--served-model-name", "nomic-embed-text",
      "--trust-remote-code",
      "--port", "8001",
      "--max-model-len", "8192",
      "--hf-overrides", '''{"max_position_embeddings":8192,"rope_theta":1000,"rope_scaling":{"type":"dynamic","factor":4.0}}'''
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: false
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/embeddings
    - /metrics
